[Unit]
Description=Argoneum's distributed currency daemon
After=network.target

[Service]
User=argoneumcore
Group=argoneumcore

Type=forking
PIDFile=/var/lib/argoneumd/argoneumd.pid
ExecStart=/usr/bin/argoneumd -daemon -pid=/var/lib/argoneumd/argoneumd.pid \
-conf=/etc/argoneumcore/argoneum.conf -datadir=/var/lib/argoneumd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
